.navbar-brand {
    color: #333;
  }
  
  .nav-links {
    display: flex; 
    align-items: center; 
  }
  
  .nav-link {
    color: #007BFF;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }
  